/* variables */

:root {
    --primary: #f4f4f4;
    --secondary: #16193e;
}

/* reset */

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* base styles */

body {
    background: var(--primary);
    overflow-x: hidden;
}

/* mobile styles */

.nav-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav {
    /* outline: 1px solid black; */
    padding: 2em;
}

.mid-block {
    display: flex;
    justify-content: center;
    outline: 1px solid black;
    padding: 0.5em 4em;
    border-radius: 0.7em;
}

/* small tablet styles */

@media screen and (min-width: 620px) {

}

/* large tablets * laptop styles */

@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){
    
}