/* variables */

:root {
    --primary: #fefefe;
    --secondary: #111B31;
    --third: #6e53F1;
    --gray: #77767b;
}

/* reset */

body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

/* base styles */

body {
    background: var(--primary);
    overflow-x: hidden;
}

img {
    cursor: pointer;
}

.no-click {
    cursor: auto;
}

.bold {
    font-weight: bold;
}

.snd-color {
    color: var(--third);
}

/* mobile styles */

.nav-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav {
    padding: 2em 0;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mid {
    justify-self: center;
}

.mid-block {
    display: flex;
    justify-content: center;
    outline: 2px solid black;
    padding: 0.8em 2em;
    border-radius: 0.7em;
    color: white;
    background-color: black;
}

.small-img {
    height: 2em;
    width: 2em;
}

.mid-img {
    height: 2.5em;
    width: 2.5em;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right div,
.nav-left div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login-btn {
    padding: 1em;
    border: 1px solid var(--third);
    border-radius: 0.2em;
    background-color: var(--primary);
    color: var(--third);
}

/* spotlight */

.spotlight-main {
    padding: 0 2em;
    position: relative;
}

.spotlight-main img {
    width: 100%;
    border-radius: 1.5em;
}

.spotlight-text {
    left: 2.5em;
    top: 1.5em;
    position: absolute;
    background-color: var(--secondary);
    border-radius: 2em;
    padding: 0.6em 1em;
}

.spotlight-text p {
    color: white;
    font-size: small;
}

.spotlight-info {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
}

.spotlight-info h1 {
    font-size: 1.5em;
}

.info-small {
    color: var(--gray);
    display: flex;
    justify-content: space-between;
}

.info-small a {
    color: var(--gray);
}

.small-date {
    display: flex;
    align-items: center;
}

.small-date img {
    height: 1em;
}

.feed {
    padding: 2em;
}

.cat-top {
    display: flex;
    justify-content: space-between;
}

.cat-top > p {
    font-size: large;
}

.cat-list {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}

.cat-list li {
    padding: 0.8em 1.5em;
    border-radius: 1.5em;
    cursor: pointer;
    font-size: small;
}

.cat-selected {
    color: white;
    background-color: var(--secondary);
}

.cat-unselected {
    background-color: #e0e0e0;
    color: var(--gray);
}

/* Posts */

.posts a {
    color: black;
}

.feed-post {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
    gap: 10px;
}

.smaller-title {
    font-size: 1em;
}

.post-left h2 {
    margin: 0;
}

.post-left p {
    color: var(--gray);
}

.post-left-date {
    display: flex;
    margin: 1em 0;
    align-items: center;
    gap: 5px;
}

.post-left-date img {
    height: 1em;
}

.post-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-right div {
    height: 89px;
    width: 92px;
    background-color: var(--secondary);
    border-radius: 1.5em;
}

/* Article Detail */

.article-detail {
    padding: 0 2em;
}

.article-title h1 {
    margin-left: 0.2em;
    margin-top: 0;
    font-size: 1.5em;
}

.img-placeholder {
    padding: 7em;
    border-radius: 1em;
    background-color: var(--secondary);
}

.post-body {
    padding: 1em 0.5em;
    font-size: 1.05em;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment-btn {
    border: 1px solid var(--secondary);
    margin: 2em 0 3em 0;
    padding: 1em;
    cursor: pointer;
    background-color: var(--primary);
}

/* Comments */

.comment-main {
    margin: 1em 0;
    display: flex;
    gap: 15px;
}

.comment-left {
    display: flex;
    align-items: center;
}

.comment-img {
    height: 32px;
    width: 32px;
    border-radius: 2em;
    background-color: var(--secondary);
}

.comment-right-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-right-top h4 {
    font-size: 1.05em;
    margin: 0;
}

.dot {
    font-size: 0.5em;
}

/* Signup */

.red {
    color: red;
}

.signup-main {
    display: flex;
    flex-direction: column;
}

.centered {
    color: green;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    margin: 3em 3em 1em 3em;
}

.signup-main h1 {
    font-size: 1.5em;
    align-self: center
}

.signup-form label,
.login-form label {
    margin: 0.5em 0;
}

.signup-form input,
.login-form input {
    height: 2em;
}

.signup-form button,
.login-form button {
    width: 100px;
    height: 50px;
    margin-top: 3em;
    background-color: var(--third);
    color: white;
    border: none;
    border-radius: 1em;

}

.signup-main a {
    margin: 0 3em;
    color: black;
    padding-bottom: 3em;
}

.third {
    color: var(--third);
}

/* login form */

.login-main {
    display: flex;
    flex-direction: column;
}

.login-main h2 {
    align-self: center;
}

.login-form .red {
    margin-top: 1em;
}

.login-form button {
    margin-top: 2em;
}

/* small tablet styles */

@media screen and (min-width: 620px) {
    body {
        color: red;
    }
}

/* large tablets * laptop styles */

@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){
    .spotlight-main img {
        max-width: 50%;
    }
}